@import "tailwindcss";



body {

  font-family: Arial, Helvetica, sans-serif;
}
.youtube-iframe {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px;
  object-fit: cover;
  background: black;
}
